@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;600;700;800;900&display=swap");

:root {
  --color-primary: #d53f41;
  --color-dark: #626262;
  --color-darker: #464646;
  --color-light: #dbd8d6;
  --color-lighter: #f5f0ec;
}
/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  color: var(--color-dark);
  background: var(--color-lighter);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
section {
  padding: 8vw 0;
}
.section-title {
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding-bottom: 5vw;
  font-family: "Syncopate", "sans-serif";
  color: var(--color-primary);
}

/* Header */
.nav {
  display: flex;
  align-items: start;
  justify-content: space-between;
  font-size: 1.5rem;
  font-family: "Syncopate", "sans-serif";
  padding: 2rem 0;
}
.left-links,
.right-links {
  font-weight: 700;
}
.left-links a,
.right-links a {
  color: var(--color-dark);
  position: relative;
}
.left-links a:after,
.right-links a:after {
  content: "";
  width: 0%;
  height: 0.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-primary);
  transition: width 0.5s;
}
.left-links a:hover:after,
.right-links a:hover:after {
  width: 120%;
}
.logo a {
  color: inherit;
}

/* Hero */
.hero {
  font-family: "Bai Jamjuree", "sans-serif";
  font-size: 10vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
  min-height: 100vh;
  color: var(--color-darker);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.travel,
.lover {
  position: relative;
}
.travel span,
.lover span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: var(--color-lighter);
}
.photos {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.photo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 1.2rem;
}
.photo.one {
  grid-column: 5;
  grid-row: 1;
}
.photo.two {
  grid-column: 1;
  grid-row: 2;
}
.photo.three {
  grid-column: 4;
  grid-row: 3;
}
.photo.four {
  grid-column: 7;
  grid-row: 4;
}
.photo.five {
  grid-column: 2;
  grid-row: 5;
}
/* Feature Section */
.features {
  display: grid;
  grid-template-columns: 30% auto;
  gap: 7vw;
  align-items: center;
}

.features-left span,
.features-right span {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 3px;
}
.features-left img,
.features-right img {
  width: 100%;
}
.features-left,
.features-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}
.feature-shutter-left,
.feature-shutter-right {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: var(--color-lighter);
  z-index: 1;
}
/* Marquee */
.marquee-scroll {
  background: var(--color-primary);
  display: flex;
  align-items: center;
  gap: 3rem;
}
.marquee {
  color: var(--color-light);
  padding: 2rem 0;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 2rem;
  transform: translateX(-100%);
}
.marquee-text {
  font-size: 4rem;
  font-family: "Poppins", "sans-serif";
  text-transform: capitalize;
}
.marquee-icon {
  font-size: 3rem;
  display: flex;
  align-items: center;
}
/* cursor */
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 2px solid var(--color-primary);
  mix-blend-mode: difference;
  border-radius: 50%;
  z-index: 1000;
}
/* Popular Section */
.popular-container {
  background: var(--color-primary);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 10vw;
  padding: 10vw;
}
.popular-item {
  position: relative;
  width: 50%;
}
.popular-title {
  position: absolute;
  top: 10%;
  left: -50%;
  font-size: 6vw;
  line-height: 1;
  text-transform: uppercase;
  color: var(--color-lighter);
  mix-blend-mode: color-dodge;
  z-index: 1;
}
.popular-category {
  position: absolute;
  left: 0;
  bottom: -7%;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--color-lighter);
  letter-spacing: 1rem;
  z-index: 1;
}
.popular-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
}
